<ul id="messages" phx-hook="MessagesList">
  <%= for msg <- @messages do %>
    <li><span class="rendered-by-timeago" datetime="<%= msg["created_at"] %>"></span> <%= msg["title"] %></li>
  <% end %>
</ul>
